:root {
    --text-color-main: #F8F8F2;
    --background-color-main: #161616;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monospace';
}


.master-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.subcategory-container {
    display: flex;
    gap: 20px;
}

body {
    background-color: var(--background-color-main);
    color: var(--text-color-main);
}
